{% macro pokemon_slider() %}
{%- set pokemon_ids = [133, 143, 132, 174, 234, 1, 43, 69, 152, 187, 7, 54, 79, 158, 183, 4, 37, 58, 155, 218, 63, 151, 175, 196] %}
<div class="pokemon-slider" id="pokemonSlider">
    {% for pid in pokemon_ids %}
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pid }}.png"
         alt="Pokémon"
         class="{% if loop.first %}active{% endif %}"
         {% if not loop.first %}loading="lazy"{% endif %}>
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/pokemon-slider.js') }}"></script>
{% endmacro %}

{% macro mois_select(selected='') %}
{%- set mois = ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août','Septembre','Octobre','Novembre','Décembre'] %}
<select name="mois_naissance" required>
    <option value="">-- Choisis --</option>
    {% for m in mois %}
    <option value="{{ loop.index }}" {% if selected|string == loop.index|string %}selected{% endif %}>{{ m }}</option>
    {% endfor %}
</select>
{% endmacro %}
